body {
    color: #777
}

a, a:hover {
    color: #f34246;
}

h2,h3,h4 {
    text-align: center;
    color: #CCC;
    margin-bottom: 30px;
}

.loginform {
    text-align:center;
    display: inline-block;
}

.loginform .row {
    width: 300px;
}

#edu-description {
    margin-top: 15px;
}

.columns {
    background-color: white;
    color: #CCC;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.work .three {
    background-color: white;
    color: #f34246;
    background-color: transparent;
    padding: 10px;
    text-align: right;
}

.header {
    margin-bottom: 3em;
}

.work .nine {
    text-align: left;
    border: 1px solid #ccc;
}

.container {
    max-width: 800px;
    margin-top: 7em;
    margin-bottom: 10em;
    text-align: center;
}

.main-header {
    margin-bottom: 0.5em;
    text-align: center;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:#CCC;
    color:#777;
    text-align: center;
    padding-top:8px;
    font-size: 10px;
    height: 21px;
}

.skills {
    text-align: left;
}

.destiny columns a{
    text-decoration: none;
}

.social-buttons {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5em;
}

.social-buttons li {
    display: inline;
}

.blog p a {
    text-decoration: none;
    color: #777;
}

.blog p a:hover {
    color: #AAA;
}

.blog p, .education p {
    margin: 0px;
    text-align: center;
}

.separator {
    height: 1px;
    background-color: #CCC;
    margin: 3em;
    align: center;
    text-align: center;
}

.tag {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #f34246;
    color: #f34246;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    margin-top: 2px;
    border-radius: 10px
}
